body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: white;
  font-family: cursive;
}

.contenedor-header {
  height: 100vh;
  background-image: url('./img/fondo.jpg');
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
}

.logo {
  color: #95ff95;
  font-size: 24px;
}

.list-header {
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 25px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.card-main {
  width: 350px;
  height: 600px;
  margin: auto;
  background-color: #181818;
  padding: 20px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: justify;
}
.card-img {
  border-radius: 50%;
}
#skills {
  margin-top: 45px;
  margin-bottom: 45px;
  
}
.skills-section {
  display: flex;
  justify-content: space-around;

}

.skills-title, .curriculum-title, .contact-title {
  text-align: center;
}

#curriculum, #contacto {
  margin-bottom: 45px;

}

.curriculum-section {
  display: flex;
  gap: 90px;
  margin: 0 40px;
}

.profession {
  margin: 0px ;
  color: #95ff95;
}
.company {
  margin: 0px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
  gap: 15px;
}

input {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
}

textarea {
  font-size: 16px;
}